@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Ask Question", "Index", "Question")

@model IEnumerable<StackOverfaux.Models.Question>

<h2>Questions</h2>
<ul>
    @foreach (var question in Model)
    {
        <li>
            <h4>question.Title</h4>
            <p>question.Date</p>
            <p>question.BodyText</p>        
        </li>        
    }
</ul>